In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
estudiar = pd.read_hdf("../data/dataFrames/estudiar.h5")
hola = pd.read_hdf("../data/dataFrames/hola.h5")
mundo = pd.read_hdf("../data/dataFrames/mundo.h5")
ordenador = pd.read_hdf("../data/dataFrames/ordenador.h5")

In [3]:
ls = [estudiar,hola,mundo,ordenador]
ls_name=["estudiar","hola","mundo","ordenador"]
hold = []
for index,x in enumerate(ls):
    print(f"Media de frames en el dataset {ls_name[index]}: ",x.groupby("n_sample").frame.count().mean())
    hold.append(x.groupby("n_sample").frame.count().mean())
    print(f"Forma del dataset {ls_name[index]}: ",x.shape)
    print(f"Número de samples en el dataset {ls_name[index]}: ",len(x.n_sample.unique()))
    print()
hold = np.array(hold)
print("Media de frames de todas las muestras: ",hold.mean())

Media de frames en el dataset estudiar:  57.94117647058823
Forma del dataset estudiar:  (5910, 3)
Número de samples en el dataset estudiar:  102

Media de frames en el dataset hola:  47.75
Forma del dataset hola:  (4775, 3)
Número de samples en el dataset hola:  100

Media de frames en el dataset mundo:  48.43333333333333
Forma del dataset mundo:  (5812, 3)
Número de samples en el dataset mundo:  120

Media de frames en el dataset ordenador:  36.46808510638298
Forma del dataset ordenador:  (3428, 3)
Número de samples en el dataset ordenador:  94

Media de frames de todas las muestras:  47.648148727576135

Para ir sobre seguros, vamos a poner un número máximo de 60 frames por sample

In [4]:
for ind, x in enumerate(ls):
    for num in x.n_sample.unique():
        indices = x[x.n_sample==num].index
        if x.loc[indices[-1],"frame"]>60:
            x.drop(indices,inplace=True)

In [5]:
estudiar

      n_sample  frame                                          keypoints
216          3      1  [0.6971444487571716, 0.8556317687034607, 9.966...
217          3      2  [0.6369092464447021, 0.5821623206138611, 3.766...
218          3      3  [0.6396191120147705, 0.5961028337478638, 2.709...
219          3      4  [0.6239758729934692, 0.5675631761550903, 1.408...
220          3      5  [0.6239105463027954, 0.5605350732803345, 2.339...
...        ...    ...                                                ...
5905       101     56  [0.5680031180381775, 0.7347278594970703, 1.883...
5906       101     57  [0.568126380443573, 0.7357924580574036, 2.0140...
5907       101     58  [0.5688924789428711, 0.736923336982727, 1.9265...
5908       101     59  [0.5689622759819031, 0.7381030321121216, 1.956...
5909       101     60  [0.5614861845970154, 0.7480770349502563, 4.348...

[3234 rows x 3 columns]

In [6]:
for index, x in enumerate(ls):
    print(x.shape)
    print(len(x.n_sample.unique()))

(3234, 3)
64
(3283, 3)
81
(5560, 3)
116
(3428, 3)
94

In [7]:
for ind, x in enumerate(ls):
    for new_num,num in enumerate(x.n_sample.unique()):
        indices = x[x.n_sample==num].index
        x.loc[indices,"n_sample"]=200+new_num

In [8]:
estudiar

      n_sample  frame                                          keypoints
216        200      1  [0.6971444487571716, 0.8556317687034607, 9.966...
217        200      2  [0.6369092464447021, 0.5821623206138611, 3.766...
218        200      3  [0.6396191120147705, 0.5961028337478638, 2.709...
219        200      4  [0.6239758729934692, 0.5675631761550903, 1.408...
220        200      5  [0.6239105463027954, 0.5605350732803345, 2.339...
...        ...    ...                                                ...
5905       263     56  [0.5680031180381775, 0.7347278594970703, 1.883...
5906       263     57  [0.568126380443573, 0.7357924580574036, 2.0140...
5907       263     58  [0.5688924789428711, 0.736923336982727, 1.9265...
5908       263     59  [0.5689622759819031, 0.7381030321121216, 1.956...
5909       263     60  [0.5614861845970154, 0.7480770349502563, 4.348...

[3234 rows x 3 columns]

In [9]:
for ind, x in enumerate(ls):
    for new_num,num in enumerate(x.n_sample.unique()):
        indices = x[x.n_sample==num].index
        x.loc[indices,"n_sample"]=x.loc[indices,"n_sample"]-200
    x.reset_index(drop=True,inplace=True)

In [10]:
if not os.path.exists("../data/treatedDF/"):
    os.mkdir("../data/treatedDF/")
for index, x in enumerate(ls):
    x.to_hdf(f"../data/treatedDF/{ls_name[index]}_tratado.h5",key="data",mode="w")

C:\Users\wther\AppData\Local\Temp\ipykernel_22332\3579541896.py:4: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['keypoints'], dtype='object')]

  x.to_hdf(f"../data/treatedDF/{ls_name[index]}_tratado.h5",key="data",mode="w")